## run the model
mesa
numpy
omegaconf
pandas

## visualise with static figures
matplotlib

## visualise in jupytelab
jupyterlab

## visualise in solara
solara

## Manipulate GIS raster files
rasterio 

## Manipulat GIS shape files
geopandas
networkx