## run the model
mesa
numpy
omegaconf
pandas

## visualise with static figures using matplotlib and the QtAgg backed
matplotlib
pyqt5

## visualise in jupyterlab
# jupyterlab

## visualise in solara
solara

## Manipulate GIS raster files
rasterio 

## Manipulat GIS shape files
geopandas
networkx
